page{
  height:100vh;
}
.top-group {
  padding: 0 18px;
}
.image_5 {
  width: 617px;
  height: 2px;
}
.page {
  padding-bottom: 18px;
  background-color: rgb(242, 243, 245);
  height: 100vh;
  width: 100%;
}
.section_1 {
  padding: 80px 45px 188px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391145522877566501.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.group {
  margin-top: -164px;
  padding-left: 40px;
  padding-right: 34px;
  position: relative;
}
.icon {
  margin-left: 6px;
  width: 18px;
  height: 32px;
}
.image {
  margin-top: 35px;
  font-size: 38px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}
.section_2 {
  padding: 38px 6px 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 20px 0px rgba(167, 167, 167, 0.16);
  border-radius: 18px;
}
.section_3 {
  margin-top: 25px;
  padding: 30px 26px 28px 27px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
}
.view {
  color: rgb(51, 51, 51);
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
}
.view_1 {
  margin-top: 31px;
}
.group_3 {
  margin-top: 33px;
}
.image_12 {
  font-size: 32px;
  color: #333;
}
.group_8 {
  margin-top: 24px;
}
.image_15 {
  margin-top: 25px;
  width: 622px;
  height: 233px;
}
.image_1 {
  border-radius: 21px;
  width: 37px;
  height: 37px;
}
.text {
  margin-left: 13px;
}
.image_2 {
  border-radius: 16px;
  width: 184px;
  height: 184px;
}
.group_1 {
  margin-left: 21px;
  margin-top: 4px;
  width: 315px;
}
.group_2 {
  margin-left: 30px;
  line-height: 32px;
  white-space: nowrap;
  height: 33px;
}
.group_4 {
  padding: 0 17px;
}
.group_5 {
  margin-top: 43px;
}
.icon_1 {
  margin-right: 11px;
  align-self: center;
  width: 49px;
  height: 49px;
}
.text_1 {
  color: rgb(51, 51, 51);
  font-size: 28px;
  line-height: 33px;
  text-align: left;
}
.text_2 {
  margin-top: 13px;
  color: rgb(153, 153, 153);
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  word-break: break-all;
  width: 251px;
}
.text_3 {
  color: rgb(250, 104, 40);
  font-size: 20px;
  line-height: 23px;
}
.text_4 {
  color: rgb(250, 104, 40);
  font-size: 28px;
  line-height: 33px;
}
.image_3 {
  width: 126px;
  height: 32px;
  color: #FA6B2D;
  font-size: 26px;
}
.image_4 {
  margin-right: 15px;
  /* width: 329rpx; */
  height: 32px;
  font-size: 26px;
  color: #A5A5A5;
}
.group_6 {
  height: 215px;
}
.image_8 {
  align-self: center;
  /* width: 300rpx;
  height: 300rpx; */
}
.image_9 {
  margin-top: 24px;
  align-self: center;
}
.group_7 {
  padding: 30px 41px 0 50px;
}
.image_13 {
  color: #444;
  font-size: 28px;
}
.image_14 {
  margin-top: 14px;
  color: #A5A5A5;
  font-size: 26px;
}
.image-wrapper {
  margin-top: 43px;
  width: 625px;
  height: 100px;
}
.image_7 {
  margin-top: 11px;
  margin-bottom: 25px;
  align-self: center;
  /* width: 236rpx;
  height: 32rpx; */
  color:#aaa;
  font-size: 27px;
}
.image_10 {
  width: 27px;
  height: 27px;
}
.image_11 {
  margin-left: 9px;
  flex: 1 1 auto;
  width: 537px;
  height: 30px;
  font-size: 25px;
  color: #A5A5A5;
}
.image_6 {
  margin-left: 23px;
  margin-right: 11px;
}