.list-item {
  padding: 21px 16px 26px 33px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.bottom-group {
  margin-top: 30px;
}
.left-group {
  color: rgb(51, 51, 51);
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
}
.text_7 {
  margin-top: 5px;
  color: rgb(153, 153, 153);
  font-size: 28px;
  line-height: 33px;
  white-space: nowrap;
}
.image_6 {
  width: 138px;
  height: 138px;
}
.right-group {
  margin-top: 29px;
  margin-left: auto;
}
.center-group{
  margin-left: 20px;
  max-width: 260px;
  font-size: 27px;
  overflow: hidden;
  max-height: 140px;
  text-overflow: ellipsis;
}
.image_4 {
  margin-bottom: 4px;
  border-radius: 21px;
  width: 32px;
  height: 32px;
}
.text_5 {
  margin-left: 13px;
}
.bottom-text-wrapper {
  margin-top: 58px;
  padding: 15px 0 17px;
  color: rgb(249, 113, 37);
  font-size: 28px;
  line-height: 33px;
  white-space: nowrap;
  border-radius: 40px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391895644333189125.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 202px;
}
.top-group {
  white-space: nowrap;
}
.text_13 {
  margin-right: 14px;
  margin-top: 6px;
  color: rgb(153, 153, 153);
  font-size: 19px;
  line-height: 22px;
  white-space: nowrap;
}
.text_14{
  color: #333333;
}
.text_15{
  margin-top: 5px;
  color: #999999;
}
.text_9 {
  color: rgb(250, 104, 40);
  font-size: 30px;
  line-height: 35px;
}
.text_11 {
  color: rgb(250, 104, 40);
  font-size: 40px;
  line-height: 47px;
}
.page {
  background-color: rgb(242, 243, 245);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.group_2 {
  padding-bottom: 271px;
  flex: 1 1 auto;
  overflow-y: auto;
}
.section_2 {
  padding: 35px 35px 12px 52px;
  background-color: rgb(255, 255, 255);
}
.list {
  margin-top: 20px;
  padding-left: 19px;
  padding-right: 18px;
}
.icon_1 {
  margin-left: 29px;
  margin-top: 6px;
  width: 71px;
  height: 18px;
  transition: margin-left .3s;
}
.list-item:not(:first-of-type) {
  margin-top: 31px;
}
.text_1 {
  color: rgb(249, 108, 39);
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
}
.text_2 {
  color: rgb(153, 153, 153);
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
}
.text_3 {
  color: rgb(153, 153, 153);
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
}
.text_4 {
  color: rgb(153, 153, 153);
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
}
