.left-group {
  height: 80px;
}
.image_12 {
  width: 54px;
  height: 54px;
}
.icon_1 {
  width: 12px;
  height: 22px;
}
.right-group {
  line-height: 34px;
  white-space: nowrap;
  height: 34px;
}
.text_6 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 18px;
}
.text_8 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  line-height: 34px;
}
.page {
  background-color: rgb(242, 243, 245);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.group {
  padding: 0 35px 0 39px;
  flex: 1 1 auto;
  // overflow-y: auto;
  margin-top: 20px;
}
.tab-bar {
  padding: 11px 0 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 12px 0px rgb(214, 214, 214);
}
.group_3 {
  margin-top: 27px;
}
.view_5 {
  margin-left: 200px;
  color: rgb(153, 153, 153);
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
}
.view_6 {
  margin-left: 230px;
  /* color: rgb(247, 116, 35); */
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
}
.image_4 {
  border-radius: 66px;
  width: 89px;
  height: 89px;
}
.group_2 {
  margin: 5px 0 3px 25px;
}
.section_2 {
  padding: 20px 27px 22px;
  background-image: linear-gradient(
    180deg,
    rgb(246, 123, 33) 0%,
    rgb(246, 123, 33) 0%,
    rgb(251, 103, 41) 100%,
    rgb(251, 103, 41) 100%
  );
  border-radius: 13px;
}
.section_3 {
  margin-top: 25px;
  padding: 6px 5px 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}
.section_4 {
  margin-top: 17px;
  padding: 12px 11px 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}
.section_5 {
  margin-top: 20px;
  padding: 5px 4px 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}
.section_6 {
  margin-top: 20px;
  padding: 8px 6px 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}
.text {
  color: rgb(51, 51, 51);
  font-size: 36px;
  line-height: 43px;
  white-space: nowrap;
}
.text_1 {
  margin-top: 13px;
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
}
.group_7 {
  margin-top: 38px;
}
.image_7 {
  margin-right: 29px;
  align-self: center;
}
.image_9 {
  margin-right: 24px;
  margin-top: 55px;
}
.group_14 {
  width: 344px;
}
.image_10 {
  margin-right: 31px;
  align-self: center;
}
.group_16 {
  width: 341px;
}
.image_11 {
  margin-right: 29px;
  margin-top: 59px;
}
.icon {
  margin-right: 8px;
  margin-top: 50px;
  width: 17px;
  height: 31px;
}
.image_5 {
  margin-left: 42px;
  margin-top: 4px;
  width: 2px;
  height: 29px;
}
.group_9 {
  margin-right: 20px;
  flex: 1 1 auto;
}
.image-wrapper {
  padding: 42px 0 45px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391897194252003553.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 126px;
  height: 126px;
}
.group_11 {
  align-self: center;
}
.image-wrapper_1 {
  padding: 36px 0 42px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391897194292208472.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 115px;
  height: 115px;
}
.group_13 {
  margin-left: 3px;
  align-self: center;
}
.group_15 {
  margin-left: 125px;
  align-self: center;
}
.image-wrapper_2 {
  margin-left: -344px;
  padding: 46px 0;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391897194276564719.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 131px;
  height: 130px;
}
.group_17 {
  margin-left: 122px;
  align-self: center;
}
.image-wrapper_3 {
  margin-left: -341px;
  padding: 45px 0 45px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391897199036021062.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 126px;
  height: 126px;
}
.text_2 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  line-height: 27px;
  white-space: nowrap;
}
.group_6 {
  margin-top: 9px;
  white-space: nowrap;
}
.text_5 {
  color: rgb(255, 255, 255);
  font-size: 29px;
  line-height: 34px;
  white-space: nowrap;
}
.view_3 {
  margin-left: 18px;
}
.text_10 {
  color: rgb(255, 255, 255);
  font-size: 29px;
  line-height: 34px;
  white-space: nowrap;
}
.view_4 {
  margin-left: 20px;
}
.image_6 {
  filter: drop-shadow(0px 3px 3px rgb(55, 117, 255));
  width: 34px;
  height: 39px;
}
.text_13 {
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 35px;
  white-space: nowrap;
}
.text_14 {
  margin-top: 11px;
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
}
.image_8 {
  filter: drop-shadow(0px 3px 3px rgb(232, 111, 57));
  width: 38px;
  height: 37px;
}
.text_15 {
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 35px;
  white-space: nowrap;
}
.text_16 {
  margin-top: 11px;
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
}
.text_17 {
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 35px;
  white-space: nowrap;
}
.text_18 {
  margin-top: 11px;
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
}
.icon_2 {
  filter: drop-shadow(0px 3px 3px rgb(26, 146, 101));
  width: 38px;
  height: 38px;
}
.text_19 {
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 35px;
  white-space: nowrap;
}
.text_20 {
  margin-top: 11px;
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
}
.icon_3 {
  filter: drop-shadow(0px 3px 3px rgb(203, 122, 21));
  width: 36px;
  height: 36px;
}
.text_3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  line-height: 33px;
}
.text_4 {
  color: rgb(255, 255, 255);
  font-size: 52px;
  line-height: 61px;
}

.navbar{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  &-left{
    margin-left: 20px;
    font-size: 26px;
    color: white;
    background: linear-gradient(180deg,#f67b21 0,#f67b21 0,#fb6729 100%,#fb6729 100%);
    padding: 5px 20px;
    border-radius: 20px;
  }
  &-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 30px;
  }
}
