/* pages/mobile/mobile.wxss */
.fullscreen{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.user-img{
  width: 135px;
  height: 135px;
  object-fit: contain;
  margin-top: 135px;
}
.des{
  font-size: 30px;
  color: #555;
  margin: 0 40px;
  margin-top: 40px;
}
.des text{
  display: block;
  text-indent: 50px;
  line-height: 1.5;
}
.op{
  /* display: flex;
  flex-direction: row; */
  margin: 0 35px;
  margin-top: 35px;
  /* justify-content: space-between; */
}
.op button{
  letter-spacing: 0.05rem;
  font-size: 30px;
  /* padding: 5rpx 10rpx; */
  border-radius: 15px;
  margin-top: 30px;
  white-space: nowrap;
  text-align: center;
  /* padding: .2vw 60px; */
}
.op button:nth-child(n+2){
  margin-top: 40px;
}
.cancel{
  color: #555;
}
.phone{
  background-color: #07C160;
  color: #fff;
}