@import '../../../style/themes/default.scss';

.number_keyboard {
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $gray1;
  user-select: none;
  color: $black;

  transition: bottom ease-in-out .3s;

  &--show {
    bottom: 0;
  }

  &--hide {
    bottom: -100%;
  }

  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  &-body {
    position: relative;
    z-index: 200;
    display: flex;
    padding: 15px 0 30px 9px;
  }

  &-keys {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
  }

  &-key_wrapper {
    position: relative;
    flex: 1;
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 0 6px 6px 0;

    &--wider {
      flex-basis: 66%;
    }
  }

  &-key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    font-size: 45px;
    line-height: 1.5;
    background-color: $white;
    border-radius: 12px;
    cursor: pointer;

    &--blue {
      color: $white;
      background-color: $blue;
    }

    &--large{
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 9px;
      bottom: 9px;
    }

    &--active{
      background-color: $gray2;
    }

    &--active1{
      background-color: $blue2;
    }
  }

  &-sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
