@import '../../../style/themes/default.scss';
@import '../../../style/themes/icon.scss';

.discount {
  &-top__banner {
    background-color: rgba(0, 0, 0, .1);
    height: 24px;
  }

  &-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 12px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 24px;
    color: $black;
    border: 6px solid transparent;
    transition: all .2s ease;


    &_selected {
      border: 6px solid $blue;
      background-color: rgba($color: $blue, $alpha: 0.1);
    }

    &__text {
      margin-left: 30px;
      font-weight: bold;
      font-size: 36px;
    }

    &__check {
      margin-left: auto;
    }
  }

  &-pay {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 30px;
    background-color: $green;
    color: $white;
    font-weight: bold;
  }
}

.discount-info{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  padding-left: 34px;

  .row{
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-child(n+2){
      margin-top: 5px;
    }

    .left{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      margin-right: 10px;
    }

    .red{
      color: $red;
    }
    .gray{
      color: $gray3;
    }
  }
}

.align-left{
  .row{
    margin-left: -45px;
  }
}
