.list-item {
  padding-left: 36px;
  padding-right: 27px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  position: relative;
}
.top-group {
  padding: 38px 0 22px;
}
.image_15 {
  margin-left: 3px;
  width: 610px;
  height: 2px;
}
.bottom-group_1 {
  padding: 22px 0 44px;
}
.bottom-group {
  margin-top: 35px;
  padding: 0 3px;
}
.image_6 {
  margin-top: 12px;
  font-size: 38px;
  color: #333;
}
.image_10 {
  /* width: 306rpx; */
  /* height: 37rpx; */
  color: rgb(102, 102, 102);
  font-size: 28px;
}
.icon_1 {
  margin: 7px 0 7px 26px;
  width: 23px;
  height: 23px;
}
.image_13 {
  border-radius: 16px;
  width: 184px;
  height: 184px;
}
.right-group {
  margin-left: 25px;
  margin-bottom: 6px;
  flex: 1 1 auto;
}
.text_1 {
  margin-right: 13px;
  color: #999999;
  font-size: 24px;
  text-align: left;
  margin-top: 5px;
}
.text_2 {
  margin-right: 13px;
  color: #333;
  font-size: 28px;
  text-align: left;
}
.text_3 {
  margin-left: 4px;
  margin-top: 19px;
  color: rgb(153, 153, 153);
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  word-break: break-all;
  width: 351px;
}
.page {
  background-color: rgb(242, 243, 245);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.group {
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 43px;
  white-space: nowrap;
  position: relative;
}
.list {
  padding-left: 33px;
  padding-right: 33px;
  margin-top: 24px;
  // height:1010px;
  height: calc(100vh - 101px - 18vh);
}
.section_1 {
  padding: 77px 51px 266px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391145522877566501.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.section_2 {
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  /* position: absolute;
  left: 33rpx;
  right: 33rpx;
  top: 164rpx; */
  margin-top: -230px;
  z-index: 2;
  margin-left: 33px;
  margin-right: 33px;
}
.list-item {
  margin-bottom: 24px;
}
.icon {
  position: absolute;
  /* left: 51rpx;
  top: 80rpx; */
  left: 51px;
  top: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 32px;
}
.group_1 {
  padding: 36px 22px 21px 31px;
}
.image_4 {
  width: 92.5vw;
  height: 0.5vw;
}
.equal-division {
  padding: 18px 0 25px;
}
.section_3 {
  padding: 5px 2px 4px 8px;
  border-radius: 5px;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/611b0ffc6b68fa00119f6658/61b2e72fd092020011e2563a/16391897554166868337.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 36px;
}
.equal-division-item {
  padding: 10px 32px 11px;
  flex: 1 1 307px;
}
.horiz-divider {
  margin: 12px 0 15px;
  width: 2px;
  height: 83px;
}
.equal-division-item_1 {
  padding: 11px 37px 10px;
  flex: 1 1 307px;
}
.image_17 {
  width: 461px;
  height: 35px;
}
.image_18 {
  margin-top: 19px;
  width: 489px;
  height: 35px;
}
.image_19 {
  margin-top: 19px;
  width: 474px;
  height: 35px;
}
.group_4 {
  margin-top: 19px;
}
.image {
  font-size: 24px;
  color: #777;
}
.image_1 {
  margin-top: 16px;
  font-size: 45px;
  color: #FC7C44;
}
.image_2 {
  margin: 2px 0 4px;
  width: 18px;
  height: 21px;
}
.image_3 {
  margin-left: 3px;
  width: 173px;
  height: 27px;
}
.image_5 {
  width: 148px;
  height: 30px;
}
.image_8 {
  font-size: 24px;
  color: #777;
}
.image_20 {
  white-space: nowrap;
  font-size: 26px;
  color: rgb(102, 102, 102);
  flex: 1;
}
.image_21 {
  font-size: 26px;
  color: rgb(102, 102, 102);
  flex: 3;
  text-align: right;
}
.orange{
  color:#FC7C44 !important;
}
.balance{
  display: flex;
  margin: 0 33px;
  margin-top: -240px;
  padding: 33px 0;
  background-color: white;
  border-radius: 18px;
  position: relative;
}
.balance-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  box-sizing: border-box;

  &:last-child{
    border-left: 3px solid #eee;
  }
}

.balance-des{
  font-size: 28px;
  color: #666;
}
.balance-price{
  font-size: 52px;
  margin-top: 10px;
  color: #FC7C44;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;

  &::before{
    content: "¥";
    font-size: 30px;
    color: #FC7C44;
    margin-right: 5px;
    position: absolute;
    right: 100%;
    top: 10%;
  }
}
.balance-withdraw{
  font-size:24px;
  background-color: #FC7C44;
  color: white;
  border-radius: 7px;
  padding:0 15px;
  margin-left: 5px;
  position: absolute;
  left: 100%;
  top: 10%;
}
