@import '../../../style/themes/default.scss';
.password-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  position: relative;

  &__type1{
    background-color: transparent;
    border: 2px solid $border-gray;
    border-right: none;
    width: 120px;
    height: 105px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 5px;

    &:nth-child(n+6){
      border-right: 2px solid $border-gray;
    }
  }

}

.password-description{
  text-align: center;
  margin-top: 21px;
  font-size: 27px;
  color: $gray;
}

.password-submit{
  text-align: center;
  margin-top: 75px;

  &__button{
    display: inline-block;
    background-color: $green;
    color: $white;
    width: 90%;
    border-radius: 30px;

    font-weight: bold;
  }
}
