@import '../../../style/themes/default.scss';
.password-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;

  &__type1{
    background-color: white;
    border: 4px solid $border-gray;
    border-right: none;
    width: 120px;
    height: 105px;
    display: inline-block;
    // font-size: 90px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 5px;

    &:nth-child(n+6){
      border-right: 3px solid $border-gray;
    }
  }

  &__type2{
    position: fixed;
    top: -100px;
    left: -100px;
    width: 100px;
    height: 100px;
  }
}

.password-description{
  text-align: center;
  margin-top: 21px;
  font-size: 27px;
  color: $gray;
}

.password-submit{
  text-align: center;
  margin-top: 75px;

  button{
    display: inline-block;
    background-color: $green;
    color: $white;
    width: 90%;
    border-radius: 30px;

    font-weight: bold;
  }
}
