$blue:#379BFE;
$blue1:#1989FA;
$blue2:#0570db;
$green:#07C160;
$red:#EC2C2C;

$white:white;
$gray:#CCCCCC;
$gray1:#F2F3F5;
$gray2:#ebedf0;
$gray3:#999999;
$black:#555555;

$border_gray:rgba(0,0,0,0.1);
$hide_white:rgba(255,255,255,0.9);
